{% extends "base_generic.html" %}

{% block content %}
<style>
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: rgba(255, 0, 0, 0.541);
    background-color: transparent;
    text-decoration: underline;
  }
  </style>
{% load static %}
  <link rel="stylesheet" href="../static/chasis.css" />
<form action="" method="post">{% csrf_token %}
    {% if form.email.errors %} {{ form.email.errors }} {% endif %}
        <p>{{ form.email }}</p>
    <input type="submit" class="btn btn-default btn-lg" value="Reset password" />
</form>

{% endblock %}
