{% extends "base_generic.html" %}  
{% block content %}
{% load i18n %}
<style>
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: rgba(255, 0, 0, 0.541);
    background-color: transparent;
    text-decoration: underline;
  
  }

  </style>

    <h1 style="margin-bottom: 1%;">{% trans "Board: " %}</h1>

    {% if board %}
    <ul>

      
        <p>{{ board.title }}</p><br>
        <p>{% trans "Description: "%}{{ board.description }}</p><br>
        <p>{% trans "Release year: " %}{{ board.year }}</p><br>
        <br>
        {% if client_bookmarked_board %}
      {% trans "You already bookmarked this one!" %}<br>
  {% else %}
      {% trans "You have not liked this one yet!" %}<br>
      {% trans "You can add it to" %} <a href="{% url 'bookmark' %}?id={{board.id}}">{% trans "bookmarks" %}</a>
  {% endif %}
        <br>
        {% if board.image %}
        <img src="http://localhost:9000/static/{{board.image}}" width=25% height=25%>
        {% endif %}
        {% if board.datasheet %}
        <div style="margin-bottom: 5%;">
          <embed src="http://localhost:9000/static/{{board.datasheet}}" width=85% height="700px"/>
        </div>
        {% endif %}
    </ul><ul>
      <br>
      <h2>{% trans "Compatible to this board: "%}</h2>
      {% if compatible_boards %}
      <br>
      {% for boardd in compatible_boards %}
      <ul>
      <a href="{% url 'board' %}?id={{boardd.compatibleboard.id}}">{{ boardd.compatibleboard.title }}</a>
      <p> {% trans "Connects via: "%}{{ boardd.connections }} </p>
    </ul>
    {% endfor %}
    {% else %}
    <h2>No compatible boards found :(</h2>
    {% endif %}
      <br>
      
{% else %}
  <p>{% trans "Board not found..."%}</p>
{% endif %}

    </div>

      </li>
    </ul>
    <div>

<div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

{% endblock %}
