{% extends "base_generic.html" %}

{% block content %}
<style>
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: rgba(255, 0, 0, 0.541);
    background-color: transparent;
    text-decoration: underline;
  }
  </style>
  <div>
    <h1>Manufacturers: </h1>

    {% if manufacturer %}
  </div>
  {% else %}
  <p>Manufacturer not found..</p>
  {% endif %}

  <div>
    <ul>
          <a>Title: {{ manufacturer.title }}</a>
    </ul>
    {% if manufacturer.description == 'Nothing to look for here' %}
    <ul>

          <a>Description will appear here.</a>
  
        </ul>
    {% else %}
    <p>Description: {{ manufacturer.description }}</p>
    {% endif %}
  </div>
{% endblock %}