{% extends "base_generic.html" %}

{% block content %}
<style>
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: rgba(255, 0, 0, 0.541);
    background-color: transparent;
    text-decoration: underline;
  }
  </style>
  <div>
    <h1>Manufacturers: </h1>

    {% if manufacturer %}
  </div>
    <div>
    <ul>
          <a>{{ manufacturer.title }}</a>
    </ul>

    {% else %}
      <p>Manufacturer not found..</p>
    {% endif %}
  </div>
{% endblock %}