{% extends "base_generic.html" %}

{% block content %}
<style>
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: rgba(255, 0, 0, 0.541);
    background-color: transparent;
    text-decoration: underline;
  }
  </style>
  <div>
    <h1>Manufacturers: </h1>

    {% if manufacturer %}
  </div>
  {% else %}
  <p>Manufacturer not found..</p>
  {% endif %}

  <div>
    <ul>
          <p style="font-size: 1.25pc;"><b>Title: </b>{{ manufacturer.title }}</p>
    </ul>
    {% if manufacturer.description == 'Nothing to look for here' %}
    <ul>

          <a>Description will appear here.</a>
  
    </ul>
    {% else %}
    <p>Description: {{ manufacturer.description }}</p>
    {% endif %}

    <h3 style="margin-top: 2.5%; margin-bottom: 0.5%;">Boards of this manufacturer: </h3>
    <ul>
      {% for board in boards %}
      <ul>
      <a href="{% url 'board' %}?id={{board.board.id}}">{{ board.board.title }}</a>
    </ul>
    {% endfor %}
    </ul>
  </div>
{% endblock %}