{% extends "base_generic.html" %}

{% block content %}
<style>
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: rgba(255, 0, 0, 0.541);
    background-color: transparent;
    text-decoration: underline;
  }
  </style>
    <h1>Subtype: </h1>

    {% if subtype %}
    <ul>
      <li>
        <p>{{ subtype.name }}</p>
        {% if subtype.description == 'Nothing to look for here' %}
        <p>No description currently :(</p>
        {% else %}
        <p>Description: {{ subtype.description }}</p>
        {% endif %}
      </li>
    </ul>

    {% else %}
      <p>Subtype not found..</p>
    {% endif %}
{% endblock %}