{% extends "base_generic.html" %}

{% block content %}
<style>
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: rgba(255, 0, 0, 0.541);
    background-color: transparent;
    text-decoration: underline;
  }
  </style>
{% load static %}
  <link rel="stylesheet" href="../static/chasis.css" />
    <h1 style="margin-bottom: 0.5%;">Boards</h1>

    {% if boards_list %}
    <ul>

      {% for board in boards_list %}
      <li>
        <a href="{% url 'board'%}?id={{board.id}}" style="margin-bottom: 2.5%;">{{ board.title }}</a> {{board.type}} {{board.year}} {{board.subtypes}}
      </li>
      {% endfor %}
    </ul>

    {% else %}
      <p>There are no boards for now..</p>
    {% endif %}
{% endblock %}